.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 4px;
  transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1), top 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.tooltip-inner {
  max-width: 250px;
  padding: 3px 8px;
  color: #fff;
  text-decoration: none;
  /*background-color: #000;*/
  border-radius: 4px;
  text-align: left;
}
#root {
  height: 100%;
}
